* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background: url("/img/hero-bg-pattern.svg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.img-responsive {
  width: 100%;
  height: auto; }

.menu-container {
  background: white;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(91, 31, 124, 0.2);
  z-index: 10; }

.mdl-layout__header {
  color: #5b1f7c;
  min-height: 48px;
  margin: 0 auto;
  max-width: 1200px; }
  .mdl-layout__header .mdl-layout__header-row {
    padding: 0;
    height: 48px;
    position: fixed;
    width: 100%;
    max-width: 1200px; }
    .mdl-layout__header .mdl-layout__header-row .gh-stars {
      padding-top: 6px; }
  .mdl-layout__header .mdl-navigation__link {
    color: #5b1f7c; }

.mdl-layout-title a {
  color: #5b1f7c;
  text-decoration: none;
  font-size: 1em; }
  .mdl-layout-title a span {
    margin-left: 8px;
    position: relative;
    top: 2px; }

.mdl-layout-title img {
  width: 30px;
  height: auto; }

.hero-section {
  min-height: calc(640px - 64px);
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-section .download-btn {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 16px; }
    .hero-section .download-btn li {
      display: inline-block;
      margin-right: 8px; }
      .hero-section .download-btn li .platform-label {
        padding: 4px;
        cursor: pointer; }
      .hero-section .download-btn li .platform-label.active-btn {
        font-weight: bold;
        color: #504854; }
      .hero-section .download-btn li::after {
        content: "|";
        padding-left: 8px; }
      .hero-section .download-btn li:last-child::after {
        content: "";
        padding-left: 0; }

.feature-section {
  margin-bottom: 32px; }
  .feature-section .section-title {
    text-align: center;
    margin-bottom: 32px; }
  .feature-section .feature-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    .feature-section .feature-card-container .feature-card {
      text-align: center;
      border-radius: 16px;
      box-shadow: 0px 16px 42px rgba(91, 31, 124, 0.15); }
      .feature-section .feature-card-container .feature-card .feature-icon {
        margin: 24px 0; }
        .feature-section .feature-card-container .feature-card .feature-icon svg {
          width: 32px;
          height: 32px;
          fill: #838383; }
      .feature-section .feature-card-container .feature-card .feature-title {
        margin: 0;
        color: #504854; }
      .feature-section .feature-card-container .feature-card .mdl-card__supporting-text {
        width: 100%; }
  .feature-section .info-box {
    margin-top: 32px;
    text-align: center;
    padding: 16px;
    border-radius: 5px;
    border: 2px solid rgba(91, 31, 124, 0.3);
    background: white; }

.footer {
  text-align: center; }

@media all and (max-width: 839px) {
  #hero-bg {
    display: none; } }
